{% comment %}
    Template for linking keywords on the document page to the correct keywords "search" page
    Parameters:
        - values : (Required) comma separated list of values that should link
        - target_field : (Required) which field in the target collection to match value against
        - collection : (Optional) collection name that should be linked. Use name from _config.yml
                        Defaults to the current page's collection
        - delimiter : delimiter between values in `values`. Default: "|"
        - display_field: (Optional) Which field should you use for the display label
                            Defaults to `pid`
{% endcomment %}

{% assign collection = include.collection %}
{% unless collection %}
    {% assign collection = page.collection %}
{% endunless %}

{% assign delimiter = include.delimiter %}
{% unless delimiter %}
    {% assign delimiter = "|" %}
{% endunless %}

{% assign display = include.display_field %}

{% assign values = include.values | strip | split: delimiter %}

{% if include.target_field %}
    {%- for value in values -%}
        {% assign key = value | strip %}
        {% assign site_data = site[include.collection] | where: include.target_field, key | first %}
        {% assign display_label = site_data[display] %}

        {% if display != nil and display_label == nil %}
            <span class="badge badge-pill badge-secondary mr-1">{{ key }}</span>
        {% else %}
            <a href="{{ site_data.url }}" class="badge badge-pill badge-info mr-1">
                {% if display_label %}
                    <div>{{ display_label }}</div>
                {% else %}
                    <div>{{ key }}</div>
                {% endif %}
            </a>
        {% endif %}

        
    {%- endfor -%}
{% endif %}
