main {
    a:not(.badge) {
        color: $dark-background;

        &:hover {
            color: $dark-background;
        }
        &:visited {
            color: $dark-background;
        }
    }
}

.banner {
    .dropdown-item:hover {
        color: $dark-background;
        background-color: $light-link-hover;
    }
}

.gallery-item-facets {
    .card {
        &:hover {
            box-shadow: 0 0 5px;
        }
    }
}

#side-nav-sm,
.facet-sidebar {
    .list-group-item {
        border-color: $light-text;
    }
    .list-group-item-dark,
    .list-group-item:hover {
        background-color: $light-link-hover;
    }
}

#people-of-keywords {
    a.list-group-item {
        border-color: $light-text;
        &:hover {
            background-color: $light-link-hover;
        }
    }
}
