---
layout: default
field: keywords
value: 
---
<div class="container">
  <div class="row">
    <h1>By Keyword</h1>
  </div>
  <div class="row">
    <p>Paragraph about Keywords</p>
  </div>
  
  <div class="row">
    <ul class="w-100">
      {% assign keywords = site.pages | where_exp: "page", "page.url contains 'pages/docs_by/keywords/'" %}
      {% for page in keywords %}
        <li class="">
          {% comment %}
            page.url references ".html" for some reason, so strip the file ending,
            then relativize the URL
          {% endcomment %}
          <a href='{{ page.url | split: "." | first | relative_url }}'>{{ page.value }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="row">
    {{content}}
  </div>

  <div class="row">
    {% if page.value %}
      {% include gallery.html collection='keywords' field=page.field value=page.value num_column=4 %}
    {% endif %}
  </div>
</div>

<style>
  ul {
      columns: 3;
      list-style: none;
      max-width: 100%;
  }
</style>