---
layout: default
field: keywords
value: 
---
<div class="container">
  <div class="row">
    <h1>By Date</h1>
  </div>
  <div class="row">
    <p>Paragraph about periodization, French and Spanish periods</p>
  </div>
  
  <div class="row">
    <ul class="w-100">
      {% assign date = site.keywords[page.filing_date] | where_exp: "page", "page.url contains 'pages/docs_by/keywords/'" %}
      {% for page in keywords %}
        <li class="">
          {% comment %}
            page.url references ".html" for some reason, so strip the file ending,
            then relativize the URL
          {% endcomment %}
          <a href='{{ page.url | split: "." | first | relative_url }}'>{{ page.value }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="row">
    {{content}}
  </div>

  <div class="row">
    {% if page.value %}
      {% include gallery.html collection='keywords' field=page.field value=page.value num_column=4 %}
    {% endif %}
  </div>
</div>

<style>
  ul {
      columns: 3;
      list-style: none;
      max-width: 100%;
  }
</style>

{% for filing_date in (1714..1723) %}
  {{ filing_date }}
{% endfor %}

{% for filing_date in (1724..1733) %}
  {{ filing_date }}
{% endfor %}

{% for filing_date in (1734..1743) %}
  {{ filing_date }}
{% endfor %}

{% for filing_date in (1744..1753) %}
  {{ filing_date }}
{% endfor %}

{% for filing_date in (1754..1763) %}
  {{ filing_date }}
{% endfor %}



