---
layout: default
field: keywords
---
<div class="container">
  <div class="row">
    <h1>Keywords</h1>
  </div>
  
  <div class="row">
    <ul class="w-100">
      {% assign keywords = site[page.collection] %}
      {% for page in keywords %}
      <li class="">
        <a href="{{ page.url | relative_url }}">{{ page.Keyword }}</a>
      </li>
     {% endfor %}
    </ul>
  </div>
  
  <div class="row">
    {{content}}
  </div>

  <div class="row">
    <h2>{{ page.label }}</h2>
  </div>

  {% if page.Description %}
    <div class="row">
      {{ page.Description | markdownify }}
    </div>
  {% endif %}

  {% if page.Keyword %}
  <div class="row">
    {% include gallery.html collection='keywords' field='keywords' value=page.Keyword num_column=4 %}
  </div>
  {% endif %}
</div>

<style>
  ul {
      columns: 3;
      list-style: none;
      max-width: 100%;
  }
</style>