---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Date'
    value: page.filing_date
  - label: 'Origin'
    value: page.doc_origin
  - label: 'Language'
    value: page.language
  - label: 'Archive'
    value: page.archive
  - label: 'Keywords'
    value: page.keywords
  - label: 'Transcription and Translation'
    value: page.google_doc_prototype
    type:  link
---

<!-- TRANSCRIPTIONS --> 

<div class="main container">

<div class="row justify-content-center">

  {% capture excerpt %}{% include excerpts/{{ page.pid }}.md %}{% endcapture %}  

    {{ excerpt | markdownify }}

</div>
</div>

