---
layout: keywords_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Date'
    value: page.filing_date
  - label: 'Origin'
    value: page.doc_origin
  - label: 'Language'
    value: page.language
  - label: 'Archive'
    value: page.archive
  - label: 'Keywords'
    value: page.keywords
  - label: LHC Scans
    value: page.lhc_scans
    type: link
  - label: 'Transcription and Translation'
    value: page.google_doc_prototype
    type: link
{% comment %} 
  - label: 'Publication Date'
    value: page.publication_date
  - label: 'Suggested Citation'
    value: page.citation 
{% endcomment %}
---

    {% comment %} Render a button for the PDF file {% endcomment %}
    {% if page.downloadable_file %}
      <button onclick="window.location.href='{{ page.pdf }}'">Download PDF</button>
    {% endif %}
