---
layout: keywords_collection_item
pagination: true
meta:
  - label: "Given Name"
    value: page.given_name
  - label: "Surname / Enslaver Name"
    value: page.surname_enslaver
  - label: "Alias"
    value: page.dit_alias
  - label: "Alternate First Name"
    value: page.alt_first_name
  - label: "Alternate Surname / Enslaver Name"
    value: page.alt_surname_enslaver
  - label: "Nation Given"
  - label: "Descendant Surnames"
    value: page.descendant_surnames
  - label: "Alternate Descendant Surnames"
    value: page.alt_descendant_surnames
  - label: "Biographical Notes"
    value: page.biographical_notes
  - label: "Racial Descriptions"
    value: page.racial_descriptions
  - label: "Ethnic Descriptions"
    value: page.ethnic_descriptions
  - label: "Status"
    value: page.status
  - label: "Age Notes"
    value: page.age_notes
  - label: "Documents"
    value: page.document_ids
    type: internal-link
    collection: keywords
    targetField: pid
    delimiter: ','
    displayField: "label"
  - label: "Document Descriptions"
    value: page.document_descriptions
  - label: "Also present in"
    value: page.other_documents_present
    type: internal-link
    collection: keywords
    targetField: pid
    delimiter: ","
    displayField: "label"
  - label: "Related to"
    value: page.related_people_ids
    type: internal-link
    collection: people
    targetField: pid
    delimiter: ","
    displayField: "full_name"
  - label: "Stories"
    value: page.stories
  - label: "Found in stories"
    value: page.stories
  - label: "Editor"
    value: page.daem_editor
  - label: "Comments"
    value: page.daem_comments
---

<h1 class="item-label">{{ page.full_name }}</h1>

{%- capture alternate_names -%}
{{ page.name_2 }}, {{ page.name_3 }}, {{ page.name_4 }}, {{ page.name_5 }}
{%- endcapture -%}
{% assign page.alternate_names = alternate_names | split: "," | where_exp: "name", "name != nil and name != ' '" %}

