---
layout: page
---

<div id="team-page" class="container">
  {% if content %}
    <div class="row">
      {{ content }}
    </div>
  {% endif %}

  {% assign teams = site.team | where_exp: "person", "person.team != nil" | map: "team" | uniq %}
  {% assign without_team = site.team | where: "team", nil | sort: "order" %}

  <div class="my-5">
    {% for team in teams %}
      <h2>{{ team }}</h2>
      {% assign members = site.team | where: "team", team | sort: "order" %}
      {% for member in members %}
        {% include team_member.html person=member %}
      {% endfor %}
    {% endfor %}
  </div>

  {% if teams.size > 0 and without_team.size > 0 %}
    <hr>
  {% endif %}

  <div class="my-5">
    {% for person_no_team in without_team %}
      {% include team_member.html person=person_no_team %}
    {% endfor %}
  </div>

  <style>
    .card-body img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  </style>
</div>

