---
layout: page
---

<div class="container">
  {% if content %}
    <div class="row">
      {{ content }}
    </div>
  {% endif %}

  <div class="my-4">
    {% for person in site.team %}
      <div class="card w-100 my-4">
        <div class="card-body row">
          {% if person.image %}
            <div class="col-sm-4">
              <img class="" src="{{ person.image | absolute_url }}" alt="Image of {{ person.name }}" >
            </div>
          {% endif %}
          <div class="col-sm">
            <h2 id="{{person.name | slugify}}" class="card-title">{{ person.name }}</h2>
            <div class="card-text">
              {{ person.content }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <style>
    .card-body img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  </style>
</div>

